<h1>Bienvenido {{usuario}}</h1>

<div class="botones__home">
    <a href="/home"  class="btn btn-primary button">Continuar al eComerce</a>
    <form action="/api/sessions/logout" method="POST">
        <button type="submit" class="btn btn-primary button"> Cerrar sesion </button>
</form>
</div>