<h1>Su carrito{{usuario.nombre}}</h1>


<div class="botones__home">   
    <a href="/home" class="btn btn-primary button">Home</a>
</div>

<div id="userCart" class="list container-xl"></div>


<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="/js/userCart.js"></script>