<h2>Contacto</h2>
<h3>Envienos su consulta</h3>

<div class="contactBody">
<form action="/contacto/enviarmensaje" method="POST" class="form1">

    <label for="email">Email</label>
    <input type="email" name="email" id="imail">

    <label for="mensaje">Mensaje</label>
    <textarea name="mensaje" id="mensaje"></textarea>

    <input type="submit" value="Enviar">

</form>
</div>