<h1>Bienvenidos, lista de productos</h1>

<div id="productList"></div>

<Button><a href="/realtimeproducts">Editar Productos</a></Button>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/home.js"></script>