<h1>Bienvenidos, lista de productos</h1>

<div class="botones__home">
    <a href="/realtimeproducts"  class="btn btn-primary button">Editar lista de productos</a>   
    <a href="/realtimecarts"  class="btn btn-primary button">Ver Carritos</a>
</div>

    <h3>Seleccione las cantidades necesarias antes de agregar al carrito</h3>
<div id="productList" class="list container-xl"></div>


<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/home.js"></script>