<h1>Bienvenidos, lista de productos</h1>

<div id="productList" class="list container-xl"></div>

<a href="/realtimeproducts"  class="btn btn-primary button">Editar lista de productos</a>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/home.js"></script>