<h1>Bienvenido</h1>
<h3>Inicie sesion</h3>

<div class="contactBody">
<form action="api/sessions/login" method="post" class="form">

<label for="usuario"> 
    Usuario: <input type="text" name="usuario" placeholder="nombre de usuario" required>
</label>
<br>
<br>
<label for="password"> 
    Contraseña: <input type="password" name="password" placeholder="Conraseña" required>
</label>
<br>
<br>
<button type="submit" class="btn btn-success button">Iniciar sesion</button>

</form>
</div>

<div class="botones__home">
    <a href="/register" class="btn btn-primary button">Registrarse</a>
</div>