<h1>Su carrito</h1>


<div class="botones__home">
    <a href="api/sessions/admin"  class="btn btn-primary button">Editar lista de productos</a>   
    <a href="/home" class="btn btn-primary button">Home</a>
</div>

<div id="cartsCont" class="list container-xl"></div>


<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="/js/carts.js"></script>