<h1>Carritos</h1>


<div class="botones__home">
    <a href="/realtimeproducts"  class="btn btn-primary button">Editar lista de productos</a>   
    <a href="/" class="btn btn-primary button">Home</a>
</div>

<div id="cartsCont" class="list container-xl"></div>


<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/carts.js"></script>