<h1>Registro de nuevo Usuario</h1>

<form action="/api/sessions/register" method="POST">

<label for="usuario"> 
    Usuario: <input type="text" name="usuario" placeholder="nombre de usuario" required>
</label>
<label for="nombre"> 
    Nombre: <input type="text" name="nombre" placeholder="nombre" required>
</label>
<label for="apellido"> 
    Apellido: <input type="text" name="apellido" placeholder="Apellido" required>
</label>
<label for="edad"> 
    edad: <input type="number" name="edad" placeholder="edad" required>
</label>
<label for="email"> 
    email: <input type="email" name="email" placeholder="email" required>
</label>
<label for="password"> 
    Contraseña: <input type="password" name="password" placeholder="Conraseña" required>
</label>
<button type="submit">Registrarse</button>

</form>