body {
    background-color: aliceblue;
}

a{
    text-decoration: none;
    color: black;
}

h1, h3, h2 {
    text-align: center;
}

.btn { 
    margin: 2rem;
    width: fit-content;
}
.btn__carrito {
    width: 100%;
}

.botones__home {
    display: flex;
    justify-content: space-between;
}

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid black 3px;
    padding: 2rem;
    gap: 1rem;
}

.product {
    padding: 1rem;
    border-radius: 10px;
    font-weight: 600;
    border: black solid 2px;
    padding: 1rem;
    box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    -webkit-box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
}

.mainCont {
    display: flex;
    justify-content: space-around;
    height: fit-content;
}

.product__box {
    width: 70%;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}

.productCont {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 40%;
    margin: 1rem;
    border-radius: 10px;
    border: black solid 2px;
    padding: 1rem;
    box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    -webkit-box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
}

.productCont button {
    width: fit-content;
    align-self: last baseline;
}

.form {
    width: 50vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: black solid 2px;
    position: sticky;
    top: 0;
    margin-top: 1rem;
    box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    -webkit-box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    border-radius: 10px;
}

.contactBody {
    display: flex;
    justify-content: center;
}
.form1 {
    width: 70vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: black solid 2px;
    position: sticky;
    top: 0;
    margin-top: 1rem;
    box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    -webkit-box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    border-radius: 10px;
    justify-self: center;
}

.form2 {
    width: 70vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: black solid 2px;
    position: sticky;
    top: 0;
    margin-top: 1rem;
    box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    -webkit-box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    border-radius: 10px;
    justify-self: center;
}

.form__int {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productCartCont {

    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 40%;
    margin: 1rem;
    border-radius: 10px;
    border: black solid 2px;
    padding: 1rem;
    box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    -webkit-box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -11px 14px 8px 0px rgba(0,0,0,0.65);

}
.cart__unit {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.cart__id {
    font-weight: 600;
    align-self: center;
}

.pagination-controls{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.pageInfo {
    font-weight: bold;
}
.input {
    width: 70%;
}

